{:path ["src" "dev"]
 :deps {cheshire/cheshire {:mvn/version "6.0.0"}
        ;; Dynamic SQL Generation
        com.github.seancorfield/honeysql {:mvn/version "2.7.1310"}
        ;; Database Queries
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.1048"}
        ;; HTML Generation
        hiccup/hiccup {:mvn/version "2.0.0"}
        ;; Database Connection Pooling
        hikari-cp/hikari-cp {:mvn/version "3.2.0"}
        ;; Unify Environment Variables + .env Handing
        io.github.cdimascio/dotenv-java {:mvn/version "3.2.0"}
        ;; Routing
        metosin/reitit {:mvn/version "0.9.1"}
        ;; Background Jobs
        msolli/proletarian {:mvn/version "1.0.89-alpha"}
        ;; Clojure
        org.clojure/clojure {:mvn/version "1.12.1"}
        ;; Logging Facade
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        ;; Postgres Driver
        org.postgresql/postgresql {:mvn/version "42.7.7"}
        ;; Logging Implementation
        org.slf4j/slf4j-simple {:mvn/version "2.0.17"}
        ;; HTTP Middleware
        ring/ring-defaults {:mvn/version "0.6.0"}
        ;; HTTP Server
        ring/ring {:mvn/version "1.14.2"}}
 :aliases {:dev    {:extra-paths ["dev" "test"]
                    :extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}
                                 lambdaisland/kaocha {:mvn/version "1.91.1392"}}}
           :format {:deps {dev.weavejester/cljfmt {:mvn/version "0.13.1"}}}
           :lint   {:deps {clj-kondo/clj-kondo {:mvn/version "2025.06.05"}}}}}
